extends ../layout

block content
  h1 Mine Noter
  p.centered Her kan du se dine noter.
  table
    thead
      tr
        th Titel
        th Note
        th Oprettede
        th Handlinger

    tbody
      each note in notes
        tr
          td= note.title
          td= note.note
          td= note.formattedCreatedAt
          td
            div.button-group-table
              a.button(href=`/note/show/${note.id}`) Vis
              a.button(href=`/note/shared/${note.id}`) Del
              a.button(href=`/note/edit/${note.id}`) Rediger
              form(action=`/note/delete/${note.id}`, method='POST')
                button.deletebutton(type='submit') Slet
              

  div.button-group
    a.button(href="/") Tilbage
